<ul id="talks">
  <% @talks.each do |talk| %>
  <li class="talk"><%= talk.title %></li>
  <% end %>
</ul>
<% form_remote_for Talk.new  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add" %>
<% end %>